In [66]:
import itertools
from opencage.geocoder import OpenCageGeocode
from bs4 import BeautifulSoup as bs
import numpy as np
from selenium import webdriver
from splinter import Browser
import pandas as pd
import os
import time
import requests
import warnings
warnings.filterwarnings('ignore')

In [24]:
path = "info/Aviation_Accident_Report_mine.csv"
aar_csv = pd.read_csv(path)
aar_csv

,Unnamed: 0,Report Number,NTSB Title,Accident Date,Report Date,City,State
0,0,ASR-20-06,Provide Inspectors with Automatic Notification...,6/21/2019,12/16/2020,Mokuleia,HI
1,1,ASR-20-05,F&M Enterprises and Stratus Oil Filter Adapter...,11/30/2020,11/30/2020,Multiple,Multiple
2,2,AAR-20-02,Rapid Descent and Crash into Water Atlas Air I...,2/23/2019,7/14/2020,Trinity Bay,TX
3,3,ASR-20-04,"Install Flight Data, Audio, and Image Recorder...",7/1/2017,5/19/2020,Multiple,Multiple
4,4,AAR-20-01,Helicopter Air Ambulance Collision with Terrai...,1/29/2019,5/19/2020,Zaleski,OH
...,...,...,...,...,...,...,...
475,514,AAR-67-AE,"​Rexall Drug and Chemical Company Lear Jet 23,...",4/12/1966,12/19/1967,Clarendon,TX
476,516,AAR-67-AB,"​Lear Jet Corporation, Lear Jet Model 23, N8041J",10/21/1965,12/11/1967,Jackson,MI
477,517,AAR-67-AF,"​West Coast Airlines, Inc., DC-9, N9101",10/1/1966,12/11/1967,Wemme,OR
478,518,AAR-67-AD,"​Japan Air Lines, Ltd., Douglas DC-8-33, JA-8006",12/25/1965,6/26/1967,San Francisco,CA
479,519,AAR-67-AC,"​Paul Kelly Flying Service, Inc., Lear Jet 23,...",11/14/1965,6/19/1967,Palm Springs,CA

In [26]:
cities = aar_csv["City"].to_list()
states = aar_csv["State"].to_list()

key = ""

lati = []
longi = []


for (city, state) in zip(cities, states):
    try:
        geocoder = OpenCageGeocode(key)
        query = f'{city}, {state}'
        results = geocoder.geocode(query)
        lat = results[0]['geometry']['lat']
        lng = results[0]['geometry']['lng']
        lati.append(lat)
        longi.append(lng)
        time.sleep(1)
    except KeyError:
        print(city)

In [28]:

aar_csv['Latitude'] = lati
aar_csv['Longitude'] = longi

In [30]:
aar_csv
aar_csv.to_csv('info/aviation_and_coordinates.csv', index = False)

In [41]:
#Just testing stuff.... this is probably useless so ignore it please. Or don't. It's up to you really.

url ='https://aviation-safety.net/database/dblist.php?Year=1971'
#soup = BeautifulSoup(requests.get(the_url).text)
#aar_tables = pd.read_html(str(soup.find_all('table')[9]))
r = requests.get(url)
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(r)

AttributeError: 'function' object has no attribute 'PrettyPrinter'

In [51]:


driver = webdriver.Chrome()
driver.get("https://aviation-safety.net/database/dblist.php?Year=1971")

html = driver.page_source

tables = pd.read_html(html)

driver.close()

AttributeError: 'list' object has no attribute 'head'

In [53]:
# THE DEED IS DONE AND I GOT THE TABLE

deaths = tables[0]
deaths

,date,type,registration,operator,fat.,location,Unnamed: 6,pic,cat
0,02-JAN-1971,DH-106 Comet 4C,SU-ALC,UAA,16.0,near Tripoli Inte...,NaN,NaN,A1
1,03-JAN-1971,DC-8,NaN,National Airlines,0.0,Havana-José ...,NaN,NaN,H2
2,04-JAN-1971,Douglas C-47A (DC-3),N7,FAA,0.0,New York-La ...,NaN,NaN,A1
3,04-JAN-1971,SE-210 Caravelle III,F-BNKI,Air Inter,0.0,Paris-Orly A...,NaN,NaN,O1
4,07-JAN-1971,Antonov An-2M,VT-DZB,Khemka Aviation,0.0,near Patna,NaN,NaN,A1
...,...,...,...,...,...,...,...,...,...
95,24-MAY-1971,Grumman SA-16A Albatross (HU-16),AD.1-3,Spanish AF,0.0,near Braganza,NaN,NaN,A1
96,25-MAY-1971,Antonov An-12B,CCCP-11024,Aeroflot / Yakutsk,0.0,Batagay Airport,NaN,NaN,A1
97,25-MAY-1971,Curtiss C-46F,CC-CAZ,ALFA,4.0,near Santiago-Los...,NaN,NaN,A1
98,26-MAY-1971,Hawker Siddeley HS-125-400B,01,South African AF,3.0,Devil's Peak,NaN,NaN,A1
99,26-MAY-1971,Hawker Siddeley HS-125-400B,02,South African AF,4.0,Devil's Peak,NaN,NaN,A1

In [59]:

#Url params
pages = [1, 2, 3, 5, 6]
years = np.arange(1971, 2022, 1).tolist()

#List results
Dates = []
Type = []
Registration = []
Operator = []
Fatalities = []
Location = []
Cat = []


for year in years:
    for page in pages:
        try:
            driver = webdriver.Chrome()
            driver.get(f"https://aviation-safety.net/database/dblist.php?Year={year}&lang=&page={page}")
            html = driver.page_source
            a_tables = pd.read_html(html)
            accidents = a_tables[0]
            Dates.append(accidents["date"].to_list())
            Type.append(accidents["type"].to_list())
            Registration.append(accidents["registration"].to_list())
            Operator.append(accidents["operator"].to_list())
            Fatalities.append(accidents["fat."].to_list())
            Location.append(accidents["location"].to_list())
            Cat.append(accidents["cat"].to_list())
            
            driver.close()
        
        except (KeyError, ValueError):
            print("Page not found")
            
            driver.close()

Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found
Page not found

In [68]:

new_Dates = list(itertools.chain.from_iterable(Dates))
new_Type = list(itertools.chain.from_iterable(Type))
new_Registration = list(itertools.chain.from_iterable(Registration))
new_Operator = list(itertools.chain.from_iterable(Dates))
new_Fatalities = list(itertools.chain.from_iterable(Fatalities))
new_Location = list(itertools.chain.from_iterable(Location))
new_Cat = list(itertools.chain.from_iterable(Cat))

In [69]:
mistakes = {'Date': new_Dates,
        'Type': new_Type,
        'Registration': new_Registration,
        'Operator': new_Operator,
        'Fatalities': new_Fatalities,
        'Location': new_Location,
        'Cat': new_Cat
        }

Accident_df = pd.DataFrame(mistakes, columns = ['Date', 'Type', 'Registration',
                                               'Operator', 'Fatalities', 'Location', 'Cat'])

Accident_df

,Date,Type,Registration,Operator,Fatalities,Location,Cat
0,02-JAN-1971,DH-106 Comet 4C,SU-ALC,02-JAN-1971,16,near Tripoli Inte...,A1
1,03-JAN-1971,DC-8,NaN,03-JAN-1971,0,Havana-José ...,H2
2,04-JAN-1971,Douglas C-47A (DC-3),N7,04-JAN-1971,0,New York-La ...,A1
3,04-JAN-1971,SE-210 Caravelle III,F-BNKI,04-JAN-1971,0,Paris-Orly A...,O1
4,07-JAN-1971,Antonov An-2M,VT-DZB,07-JAN-1971,0,near Patna,A1
...,...,...,...,...,...,...,...
11627,02-JAN-2021,Beech 200 Super King Air,N831WP,02-JAN-2021,0,White Plains...,A2
11628,09-JAN-2021,Boeing 737-524 (WL),PK-CLC,09-JAN-2021,62,near Jakarta-Soek...,A1
11629,09-JAN-2021,Cessna 560 Citation V,N3RB,09-JAN-2021,2,"near Pine Grove, OR",A1
11630,12-JAN-2021,Harbin Y-12-II,NaN,12-JAN-2021,4,near Voi,A1
11631,19-JAN-2021,Boeing 737-4Q8 (SF),G-JMCY,19-JAN-2021,0,Exeter Airpo...,A2

In [70]:
Accident_df.to_csv('50_year_accident.csv', index = False)